Source: sublime-imethod-fix
Priority: optional
Maintainer: Peter Zotov <whitequark@whitequark.org>
Build-Depends: debhelper (>= 8.0.0), libgtk2.0-dev, libx11-dev
Standards-Version: 3.9.5
Section: libs
Homepage: https://github.com/whitequark/sublime-imethod-fix
Vcs-Git: https://github.com/whitequark/sublime-imethod-fix.git
Vcs-Browser: https://github.com/whitequark/sublime-imethod-fix

Package: libsublime-text-2-xim-xcompose
Section: libs
Architecture: any
Depends: sublime-text (>= 2), sublime-text (<< 3), ${shlibs:Depends}, ${misc:Depends}
Description: XCompose support in Sublime Text
 Sublime Text has a bug where using it with GTK input method set
 to xim ignores any configured XCompose combinations. This package
 provides a library that works around the bug.

Package: libsublime-text-3-xim-xcompose
Section: libs
Architecture: any
Depends: sublime-text (>= 3), ${shlibs:Depends}, ${misc:Depends}
Conflicts: libsublime-text-xim-xcompose
Replaces: libsublime-text-xim-xcompose
Description: XCompose support in Sublime Text
 Sublime Text has a bug where using it with GTK input method set
 to xim ignores any configured XCompose combinations. This package
 provides a library that works around the bug.
